* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.all_center {
  width: 100vw;
  display: block;
  margin: 0 auto;
}
.logo{
  width: 150px;
}
.logoText{
  color: #C950A9 ;
  font-size: 22px;
  font-weight: bolder;
}